PORT= 8000
MONGODB_URL= mongodb+srv://lakshkpr29_db_user:<db_T5D9gb0N5TcE0ya6>@cluster1.zymcgk4.mongodb.net
# THIS ARE just variable names on left side and we can name them on our own 
# remove the ending slash from the connection string taken from database